body{
    background-color: black;
    align-items: center;
    align-content: center;
    color: white;
    text-align: center;
}
p{
    align-items: center;
}
.card1{
    color: violet;
    font-size: 20px;
    justify-content: center;
}
table{
    font-size: medium;
    color: skyblue;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-color: red;
    border-style: dotted;
    margin: 20px;
}
tr,td,th{
    border-color: rgb(225, 32, 64);
    border-style: solid;
    align-items: center;
    text-align: center;
}
th{
    color: rgb(127, 127, 235);
    font-size: large;
    border-color: rgb(0, 213, 255);
}
.tablehead{
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
    border-color: azure;
    border-style:double;
}

form{
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
label{
    color: rgb(42, 165, 155);
    font-size: 20px;
    justify-content: center;
    padding: 10px;
}
button{
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 40px;
    padding-inline: 30px;
    color:skyblue;
    padding-block: 10px;
    background-color: rgb(42, 75, 165);
}

.lists{
    color: paleturquoise;
    background-color: rgb(46, 45, 45);
    align-items:flex-start;
    text-align: left;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    border-color: aquamarine;
    border-style: dashed;
}
.h22{
    color: bisque;
}